<% layout("./layouts/boilerplate") -%>

<div class="container my-4">
  <h3 class="mb-4">Edit Profile</h3>

  <form action="/account/edit" method="post">

  <!-- First Name + Last Name -->
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <label class="form-label">First Name</label>
      <input
        type="text"
        name="firstName"
        class="form-control"
        value="<%= user.firstName %>"
      >
    </div>

    <div class="col-12 col-md-6">
      <label class="form-label">Last Name</label>
      <input
        type="text"
        name="lastName"
        class="form-control"
        value="<%= user.lastName %>"
      >
    </div>
  </div>

  <!-- Username + Gender -->
  <div class="row g-3 mt-1">
    <div class="col-12 col-md-6">
      <label class="form-label">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        value="<%= user.username %>"
        required
      >
    </div>

    <div class="col-12 col-md-6">
      <label class="form-label">Gender</label>
      <select name="gender" class="form-select">
        <option value="">Select gender</option>
        <option <%= user.gender === "Male" ? "selected" : "" %>>Male</option>
        <option <%= user.gender === "Female" ? "selected" : "" %>>Female</option>
        <option <%= user.gender === "Other" ? "selected" : "" %>>Other</option>
      </select>
    </div>
  </div>

  <div class="mt-4">
    <button class="btn btn-success add-btn">
      Save Changes
    </button>
  </div>

</form>
</div>